# Node
node_modules/
npm-debug.log
yarn-debug.log*
# Nota: package-lock.json y yarn.lock NO se ignoran porque son importantes para las builds en AWS

# Terraform
*.tfstate
*.tfstate.*
*.tfplan
crash.log
.terraform/
.terraform.lock.hcl
# Terraform variables sensibles
*.tfvars
!envs/*.tfvars

# Secretos, Credenciales y Entornos Locales (¡Muy Importante!)
.env
.env.local
.env.*
*.secret.tfvars
credentials.json
*.pem
*.key

# Lambda packaging
*.zip
*.zip.sha256
lambda/**/node_modules/

# OS / IDE / Temporales
*.DS_Store
.idea/
.vscode/
*.log